.header {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 15px #0000004d;
    z-index: 9;
    transition: all 0.2s;
    position: relative;
    .header__container {
        padding: 0px 15px;
        display: flex;
        justify-content: space-between;
        .header__logo {
            align-items: center;
            justify-content: center;
            a {
                text-decoration: none;
                line-height: 50px;
                img {
                    width: 50px;
                }
            }
        }
        .header__menu {
            display: flex;
            justify-content: center;
            text-align: center;
            li{
                margin-right: 20px;
                a {
                    text-decoration: none;
                    text-align: center;
                    line-height: 60px;
                    color: #000;
                    transition: all 0.2s;
                    
                    &:hover {
                        color: #fb4226;
                    }
                }
            }
            
        }
        .header__login {
            .account {
                .account_user {
                    display: flex;
                    text-decoration: none;
                    justify-content: center;
                    align-items: center;
                    line-height: 55px;
                    .btn-login {
                        width: 30px;
                        border-radius: 25px;
                        margin-right: 5px;
                    }
                    .login-text {
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 14px;
                        color: #9b9b9b;
                    }
                }
            }
        }
        .nav__buger__menu {
            display: none;
            text-align: center;
            cursor: pointer;
            margin-top: 15px;
            // .buger_btn {
            //     width: 35px;
            //     height: 30px;
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: space-around;
            //     .line {
            //         width: 100%;
            //         height: 2px;
            //         background-color: #000;
            //         border-radius: 10px;
            //         transition: all 0.2s;
            //     }
            //     &.change .line1 {
            //         transform: rotateZ(-45deg) translate(-8px, 6px);
            //     }
            //     &.change .line2 {
            //         opacity: 0;
            //     }
            //     &.change .line3 {
            //         transform: rotateZ(45deg) translate(-8px, -6px);
            //     }
            // }
            .nav-mobile-text{
                color: #000;
                text-decoration: none;
                &:hover{
                    color: #fb4226;
                }
            }
        }
    }
}

@include responsive("medium") {
    .header {
        .header__container {
            .header__menu {
                display: none;
            }
            .header__login {
                display: none;
            }
            .nav__buger__menu {
                display: block;
            }
        }
    }
}
